include _meta
        title 404页面
    body
        section.container-fluid.page-404.minWP.text-c
            p.error-title
                i.Hui-iconfont.va-m(style="font-size:80px") 
                span.va-m  404
            p.error-description 不好意思，您访问的页面不存在~
            p.error-info
                | 您可以：
                a.c-primary(href="javascript:;", onclick="history.go(-1)") < 返回上一页
                span.ml-20 |
                a.c-primary.ml-20(href="/") 去首页 >
