script(type="text/javascript", src="/javascripts/gqsmeet/jquery.min.js")
script(type="text/javascript", src="/javascripts/gqsmeet/layer/layer.js")
script(type="text/javascript", src="/javascripts/gqsmeet/h-ui/H-ui.js")
script(type="text/javascript", src="/javascripts/gqsmeet/h-ui/H-ui.admin.js")