section#main-content
    section.wrapper
        .row
            .col-md-1
            .col-md-10
                section.panel
                    .panel-body
                        h2 What?
                        p
                            | Hugo is a general-purpose website framework. Technically speaking, Hugo is
                        p Hugo boasts the following features:
                        h3#general General
                        ul
                            li Extremely fast build times (~1 ms per page)
                            li
                                | Completely cross platform: Runs on
                                i.fa.fa-apple
                                |  macOS,
                                i.fa.fa-linux
                                |  Linux,
                                i.fa.fa-windows
                                |  Windows, and more!
                            li
                                | Easy
                                a(href="/overview/installing/") installation
                            li
                                | Render changes
                                a(href="/overview/usage/") on the fly
                                |  with
                                a(href="/extras/livereload/") LiveReload
                                |  as you develop
                            li Complete theme support
                            li Host your site anywhere
                        h3#organization Organization
                        ul
                            li
                                | Straightforward
                                a(href="/content/organization/") organization
                            li
                                | Support for
                                a(href="/content/sections/") website sections
                            li
                                | Completely customizable
                                a(href="/extras/urls/") URLs
                        h3#content Content
                        ul
                            li
                                | Native support for content written in
                                a(href="/content/example/") Markdown
                                ul
                                    li
                                        | Support for other languages through
                                        em external helpers
                                        | , see
                                        a(href="/content/supported-formats") supported formats
                            li
                                | Support for TOML, YAML and JSON metadata in
                                a(href="/content/front-matter/") frontmatter
                            li
                                | Completely
                                a(href="/layout/homepage/") customizable homepage
                        p —Steve Francia (@spf13)
                        h2#next-steps Next Steps
                        ul
                            li
                                a(href="/index") 点这里将会转到首页
                            li
                                a(href="/login") 点这里将会转到登陆
                            li
                                a(href="/register") 点这里将会转到注册
                        .row
                            .footer-panel
                                p
                                    | Last revision: June 16, 2017 |
                                    span(style="float: right;") 甘其食 v1.0